<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy43.framework.cms.content.dao.ContentDao" >
    <resultMap id="BaseResultMap" type="Content" >
        <id column="cms_id" property="cms_id" jdbcType="INTEGER" />
        <result column="type_id" property="type_id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <!-- 不要查询该字段 
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        -->
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
        <result column="view_num" property="view_num" jdbcType="INTEGER" />
    </resultMap>
    <sql id="cms_content_columns" >
        cms_id, type_id, title, author, remark, photo, status, create_date, view_num
    </sql>
    <sql id="cms_content_columns_alias" >
        ${alias}.cms_id, ${alias}.type_id, ${alias}.title, ${alias}.author, ${alias}.remark, ${alias}.photo, 
        ${alias}.status, ${alias}.create_date, ${alias}.view_num
    </sql>
    
    <!-- 1.后台内容分页条件查询分页 -->
    <!-- A.查询结果集-查询条件是标题 -->
    <select id="list" resultMap="BaseResultMap">
        SELECT
            <include refid="cms_content_columns"/>
        FROM
            cms_content
        <where>
            status = 1
            AND
            type_id=#{type}
            <if test="pager.query.title != null and pager.query.title != ''">
              AND  title LIKE CONCAT('%',#{pager.query.title},'%')
            </if>
        </where>
        ORDER BY create_date DESC
        <!-- 注意这里使用了KEY,因为有两个形参 -->
        LIMIT ${pager.offset},${pager.pageSize}
    </select>
    <!-- B.查询总记录数-查询条件是标题 -->
    <select id="getTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            cms_content
        <where>
            status = 1
            AND
            type_id=#{type}
            <if test="pager.query.title != null and pager.query.title != ''">
              AND  title LIKE CONCAT('%',#{pager.query.title},'%')
            </if>
        </where>
    </select>
    <!-- 结束 -->
    
    <!-- 2.通过类型获取最新的五条记录 -->
    <select id="listNewContent" parameterType="_int" 
        resultMap="BaseResultMap">
        SELECT
            cms_id, type_id, title,create_date,photo
        FROM
           cms_content
        WHERE
            status = 1
            AND
            type_id=#{type_id}
        ORDER BY create_date DESC
        LIMIT 5 
    </select>
    
    <!-- 3.统计每个栏目的文章的点击总和 -->
    <select id="getChartContentType" resultType="map">
    SELECT a.label,IFNULL(b.val,0) value FROM
        (SELECT value type_id,label FROM sys_dict WHERE type="cms_module") a
    LEFT JOIN
        (SELECT type_id,sum(view_num) val FROM cms_content GROUP BY type_id) b
    ON a.type_id=b.type_id
    </select>
    
    
    
    <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="cms_content_columns" />
        from cms_content
        where cms_id = #{cms_id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from cms_content
        where cms_id = #{cms_id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="Content" >
        insert into cms_content
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="cms_id != null" >
                cms_id,
            </if>
            <if test="type_id != null" >
                type_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="author != null" >
                author,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="photo != null" >
                photo,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="create_date != null" >
                create_date,
            </if>
            <if test="view_num != null" >
                view_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="cms_id != null" >
                #{cms_id,jdbcType=INTEGER},
            </if>
            <if test="type_id != null" >
                #{type_id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="photo != null" >
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="create_date != null" >
                #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="view_num != null" >
                #{view_num,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="Content" >
        update cms_content
        <set >
            <if test="type_id != null" >
                type_id = #{type_id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null" >
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="photo != null" >
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="create_date != null" >
                create_date = #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="view_num != null" >
                view_num = #{view_num,jdbcType=INTEGER},
            </if>
        </set>
        where cms_id = #{cms_id,jdbcType=INTEGER}
    </update>
</mapper>