<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy43.framework.rbac.role.dao.RoleDao" >
    <resultMap id="BaseResultMap" type="Role" >
        <id column="role_id" property="role_id" jdbcType="INTEGER" />
        <result column="role_name" property="role_name" jdbcType="VARCHAR" />
        <result column="role_key" property="role_key" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
    <sql id="sys_role_columns" >
        role_id, role_name, role_key, status
    </sql>
    <sql id="sys_role_columns_alias" >
        ${alias}.role_id, ${alias}.role_name, ${alias}.role_key, ${alias}.status
    </sql>
    
    <!-- 1.返回角色列表信息 -->
    <select id="list" resultMap="BaseResultMap">
        SELECT
            <include refid="sys_role_columns"/>
        FROM
            sys_role
        WHERE
            status != -1
        ORDER BY
            status DESC
    </select>
    
    <!-- 2.验证ROLE_KEY是否重复 -->
    <select id="getCountByRoleKey" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            sys_role
        WHERE
            role_key=#{role_key}
    </select>
    
    <!-- 3.注销角色 开始 -->
    <!-- A.需要跟系统用户表解除关系 -->
    <update id="settingRoleIsNull" parameterType="int">
        UPDATE sys_user SET fk_role_id=null WHERE fk_role_id=#{role_id}
    </update>
    <!-- B.需要跟菜单和权限解除关系 -->
    <delete id="deleteMenusByRoleId" parameterType="int">
        DELETE FROM sys_role_menu_permission WHERE role_id=#{role_id}
    </delete>
    <!-- C.更新角色的状态 -->
    <update id="deleteRole" parameterType="int">
        UPDATE sys_role SET status=-1 WHERE role_id=#{role_id}
    </update>
    <!-- 注销角色 结束 -->
    
    <!-- 4.通过角色获取起对应的菜单和功能 -->
    <select id="getRoleMenusFunctions" parameterType="_int" resultType="map">
        SELECT
            role_id,menu_id,permission
        FROM
            sys_role_menu_permission
        WHERE
            role_id=#{role_id}
    
    </select>
    
    <!-- 5.授权操作 -->
    <insert id="addRolePermission" parameterType="list">
        INSERT INTO 
            sys_role_menu_permission
        (id,role_id,menu_id,permission)
        VALUES
        <foreach collection="list" item="p" separator=",">
            (UUID(),#{p.role_id},#{p.menu_id},#{p.permission})
        </foreach>
    </insert>
    
    
    
    
    <select id="load" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="sys_role_columns" />
        from sys_role
        where role_id = #{role_id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from sys_role
        where role_id = #{role_id,jdbcType=INTEGER}
    </delete>
    <insert id="add" parameterType="Role" >
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="role_name != null" >
                role_name,
            </if>
            <if test="role_key != null" >
                role_key,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="role_name != null" >
                #{role_name,jdbcType=VARCHAR},
            </if>
            <if test="role_key != null" >
                #{role_key,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="Role" >
        update sys_role
        <set >
            <if test="role_name != null" >
                role_name = #{role_name,jdbcType=VARCHAR},
            </if>
            <if test="role_key != null" >
                role_key = #{role_key,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where role_id = #{role_id,jdbcType=INTEGER}
    </update>
</mapper>